{% extends "index.html" %}
{% block content %}
  <!-- Main Content -->
  <div class="container mt-5" style="max-width: 500px;">
    <div class="card">
      <div class="card-header text-center">
        Details
      </div>
      <div class="card-body">
        <form method="post" class="border p-4" action="/compedit" style="background-color: rgba(251, 251, 190, 0.529);">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{session['username']}}">
              </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" value="{{session['email']}}">
          </div>
          <button type="submit" class="btn bg-dark text-white">Edit / Update</button>

        </form>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form method="post" class="border p-4" action="{{ url_for('create_job') }}" style="background-color: rgb(255, 255, 255);border-radius: 10px;">
        <div class="form-group">
            <label for="job_title">Internship Title</label>
            <input type="text" class="form-control" id="job_title" name="job_title" placeholder="Internship Title">
          </div>
      <div class="form-group">
        <label for="email">Description</label>
        <textarea class="form-control" id="job_description" name="job_description" placeholder="Job Description"></textarea>
      </div>
      <button type="submit" class="btn bg-dark text-white">Add</button>

    </form>
  </div>

  <div class="row justify-content-center mt-5">
    <!-- Table to display job vacancies -->
    <div class="col-md-11">
      <table class="table table-bordered">
        <thead class="table-light text-center">
            <tr>
                <th scope="col" style="width: 200px;">Internship Title</th>
                <th scope="col" style="width: 200px;">Description</th>
                <th scope="col" style="width: 15px;">Edit</th>
                <th scope="col" style="width: 15px;">Delete</th>
            </tr>
        </thead>
        <tbody id="vacancyTableBody" class="table-dark text-center">
            {% for job in session['jobs'] %}
            <tr>
              <form action="{{ url_for('editjob', job_id=job[0]) }}" method="post">
              <td style="padding-right: 0px;padding-left: 0px;" >
                <input class="bg-dark text-white" type="text" name="title_of" style="width: 250px;" value="{{job[1]}}">
              </td>
              <td>
                <textarea class="bg-dark text-white" name="description_of" style="width: 100%; resize: both;">{{ job[2] }}</textarea>
              </td>
                <td style="width: 15px;">
                    <div class="d-flex justify-content-center">
                        
                            <button type="submit" name="editJob" class="btn btn-primary mx-1">
                              <i class="fas fa-pencil-alt"></i>
                            </button>
                        
                </td>
              </form>
                <td style="width: 15px;">
                        
                        <form action="{{ url_for('deletejob', job_id=job[0]) }}" method="post">
                            <button type="submit" name="deleteJob" class="btn btn-danger mx-1">
                              <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    </div>
  </div>
{%  endblock %}"