{%extends "index.html"%}
{% block content %}
<!-- Main Content -->
<div class="container mt-5">
    <div class="custom-container">
      <h2 class="text-center mb-5">Internship Finding System</h2>
      <p style="text-align: justify;">An Internship Matching System serves as a dynamic platform connecting companies offering internships with university students seeking valuable hands-on experience in their respective fields. This innovative tool streamlines the internship process, facilitating seamless communication and collaboration between companies and students.</p>

<p>Key functionalities of an Internship Matching System include:</p>

<ul>
    <li><strong>Internship Posting:</strong> Empower companies to effortlessly post internship opportunities, providing detailed descriptions of roles, responsibilities, and qualifications required. Companies can specify preferred skills, academic backgrounds, and other criteria to attract suitable candidates.</li>
    <li><strong>Student Profile Creation:</strong> Enable students to create comprehensive profiles showcasing their academic achievements. Students can upload resumes to highlight their qualifications and experiences.</li>
    <li><strong>Application Submission:</strong> Simplify the internship application process for students by allowing them to browse through available opportunities and submit applications directly through the platform. Students can customize their applications and track their submission status.</li>
    <li><strong>CV and Document Management:</strong> Provide students with a secure space to upload and manage their CVs. Companies can review applicant CV's.</li>
</ul>

<p style="text-align: justify;">By leveraging the functionalities of an Internship Finding System, companies can attract top talent, streamline their recruitment processes, and maximize the impact of their internship programs. Similarly, students can explore diverse internship opportunities, gain valuable industry experience, and kickstart their careers with confidence.</p>





    </div>
  </div>
{% endblock %}
