{% extends "index.html" %}
{% block content %}

  <div class="row justify-content-center mt-5">
    <!-- Table to display job vacancies -->
    <div class="col-md-11">
      <table class="table table-bordered">
        <thead class="table-light text-center">
            <tr>
                <th scope="col" style="width: 200px;">Internship Title</th>
                <th scope="col" style="width: 200px;">Description</th>
                <th scope="col" style="width: 200px;">Email</th>
                <th scope="col" style="width: 15px;">Send CV</th>
            </tr>
        </thead>
        <tbody id="vacancyTableBody" class="table-dark">
            {% for job in session['jobs'] %}
            <tr>
              <td>
                {{job[1]}}
              </td>
              <td>
                {{ job[2] }}
              </td>
              <td>
                {{job[3]}}
              </td>
              <td style="width: 15px;" class="text-center">    
                        <form action="{{ url_for('applyjobs', job_id=job[0], student_id=session['id'], company_id=job[4]) }}" method="post">
                          <button type="submit" name="applyJob" {% if job[5] %} disabled {% else %}{% endif %} class="btn mx-1 {% if job[5] %} btn-danger {% else %} btn-success {% endif %}">
                              <i class="fas fa-paper-plane"></i>
                            </button>
                        </form>
                    </div>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    </div>
  </div>
{%  endblock %}"