{% extends "index.html" %}
{% block content %}
  <!-- Main Content -->
  <div class="container mt-5" style="max-width: 500px;">
    <div class="card">
      <div class="card-header text-center">
        Sign In
      </div>
      <div class="card-body">
        <form method="post" action="/signin">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
          </div>
          <button type="submit" class="btn bg-dark text-white">Sign In</button>
          {% if error %}
            <div class="form-group mt-3 text-center">
                <label for="error" style="color: red;">{{error}}</label>
            </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}